# .NET
bin/
obj/
*.log
*.user
*.vs/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp.*

# Build artifacts
/dist
/build
frontend/build/

# OS files
.DS_Store
Thumbs.db

# IDE files
*.suo
*.user
*.userosscache
*.sln.docstates

# Frontend
/.env

# Backend
/*.db
